Repository vunf1/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

i18n: add contact form translations for EN and PT-PT
  public/data/en/ui.json
  public/data/pt-PT/ui.json
Due: prettier --write

feat: integrate contact modal into FAB and landing hero
  src/components/FloatingActionButton.tsx
  src/components/landing/LandingHero.tsx
  src/components/ui/index.ts
Due: eslint --fix, prettier --write

style: improve FAB, landing page, and base styles
  src/css/base.css
  src/css/fab.css
  src/css/landing.css
  src/index.css
Due: prettier --write

refactor: update type definitions and test setup
  src/test/setup.ts
  src/types/components.ts
  src/types/index.ts
  src/utils/__tests__/validation.test.ts
Due: eslint --fix, prettier --write

test: add comprehensive tests for n8n client and contact modal
  src/components/ui/__tests__/ContactModal.test.tsx
  src/utils/__tests__/n8nClient.integration.test.ts
  src/utils/__tests__/n8nClient.test.ts
Due: eslint --fix, prettier --write

docs: add n8n webhook integration documentation
  README.md
  docs/N8N_WEBHOOK_HEADER_AUTH.md
Due: prettier --write

refactor: split landing CSS into modular structure
  src/css/landing.css
  src/css/landing/_about.css
  src/css/landing/_accessibility.css
  src/css/landing/_animations.css
  src/css/landing/_features.css
  src/css/landing/_footer.css
  src/css/landing/_hero.css
  src/css/landing/_layout.css
  src/css/landing/_responsive.css
  src/css/landing/_variables.css
Due: prettier --write

feat: enhance landing footer with compliance badges and project info
  src/components/landing/LandingFooter.tsx
Due: eslint --fix, prettier --write

style: fix FloatingActionButton indentation
  src/components/FloatingActionButton.tsx
Due: eslint --fix, prettier --write

ci: add n8n environment variables to CI/CD and create env example
  .env.example
  .github/workflows/ci.yml
  .github/workflows/quality.yml
Due: none

feat: make n8n environment variables required in production
  src/utils/__tests__/n8nClient.integration.test.ts
  src/utils/__tests__/n8nClient.test.ts
  src/utils/n8nClient.ts
Due: eslint --fix, prettier --write

docs: improve README with comprehensive CI/CD and deployment guide
  README.md
Due: prettier --write

style: fix LandingFooter indentation
  src/components/landing/LandingFooter.tsx
Due: eslint --fix, prettier --write

feat: scroll to top when portfolio page loads
  src/App.tsx
Due: eslint --fix, prettier --write

fix: improve Font Awesome icon rendering in about sections
  src/css/components/about.css
  src/css/landing/_about.css
Due: prettier --write

fix: improve hero logo subtitle text wrapping and overflow
  src/css/landing/_hero.css
  src/css/landing/_responsive.css
Due: prettier --write

style: center nav-brand in navbar and section-subtitle text
  src/css/base.css
  src/css/navigation.css
Due: prettier --write

fix: improve FAB and contact modal interaction and z-index stacking
  src/components/FloatingActionButton.tsx
  src/css/components/contact-modal-premium.css
  src/css/fab.css
Due: eslint --fix, prettier --write

feat: add autofill detection and form attributes for password manager compatibility
  src/components/ui/ContactModal.tsx
  src/css/components/contact-modal-premium.css
Due: eslint --fix, prettier --write

test: improve accessibility queries in ContactModal tests
  src/components/ui/__tests__/ContactModal.test.tsx
Due: eslint --fix, prettier --write

feat: add comprehensive SEO management system with dynamic meta tags and structured data
  src/App.tsx
  src/main.tsx
  src/types/seo.ts
  src/utils/seo.ts
Due: eslint --fix, prettier --write

feat: update content data with jmsit branding and enhanced SEO metadata
  public/data/en/meta.json
  public/data/en/personal.json
  public/data/en/social.json
  public/data/pt-PT/meta.json
  public/data/pt-PT/personal.json
  public/data/pt-PT/social.json
Due: prettier --write

feat: update URLs and domain references to jmsit.cloud
  index.html
  public/robots.txt
  public/sitemap.xml
  vite.config.ts
Due: eslint --fix, prettier --write

feat: integrate jmsit branding into UI components
  src/components/Hero.tsx
  src/components/landing/LandingFooter.tsx
  src/components/landing/LandingHero.tsx
Due: eslint --fix, prettier --write

feat: add OG image generation script and n8n testing tools
  docs/OG_IMAGE_REQUIREMENT.md
  package.json
  scripts/generate-og-image.cjs
  tools/n8n-test/README.md
  tools/n8n-test/example-data.json
  tools/n8n-test/send-test-request.ps1
  tools/n8n-test/send-test-request.ts
Due: eslint --fix, prettier --write

feat: enhance OG image generation with logo integration and improved design
  index.html
  public/data/en/meta.json
  public/data/pt-PT/meta.json
  scripts/generate-og-image.cjs
Due: prettier --write

refactor: clean up SEO utility code and fix skills extraction
  src/utils/seo.ts
Due: eslint --fix, prettier --write

refactor: update brand capitalization from jmsit to JMSIT
  public/data/en/personal.json
  public/data/pt-PT/personal.json
  src/components/landing/LandingFooter.tsx
  src/components/landing/LandingHero.tsx
Due: eslint --fix, prettier --write

feat: enhance SEO metadata with expanded keywords and improved descriptions
  index.html
  public/data/en/meta.json
  public/data/pt-PT/meta.json
Due: prettier --write

feat: update OG image generation with new brand tagline and contact info
  scripts/generate-og-image.cjs
Due: none

feat: add Organization schema and enhance structured data
  src/types/seo.ts
  src/utils/seo.ts
Due: eslint --fix, prettier --write

feat: enhance ContactModal accessibility and form handling
  src/components/ui/ContactModal.tsx
  tools/n8n-test/example-data.json
Due: eslint --fix, prettier --write

feat(typography): enhance readability with serif font and justify alignment
  src/css/base.css
  src/css/landing/_about.css
  src/css/landing/_features.css
  src/css/landing/_hero.css
  src/css/landing/_layout.css
  src/css/landing/_responsive.css
  src/css/tokens.css
Due: prettier --write

feat(contact-modal): improve mobile UX with header action buttons
  src/components/ui/ContactModal.tsx
  src/css/components/contact-modal-premium.css
Due: eslint --fix, prettier --write

feat(landing-hero): split subtitle into individual word spans
  src/components/landing/LandingHero.tsx
Due: eslint --fix, prettier --write

feat: update SEO metadata for improved clarity and branding
  index.html
Due: none

feat: refine titles and descriptions for improved branding consistency
  404.html
  index.html
  vite.config.analyze.ts
Due: eslint --fix, prettier --write

fix(css): resolve vertical scrollbar issues in core layout
  src/css/base.css
  src/css/landing/_layout.css
  src/index.css
Due: prettier --write

fix(css): prevent horizontal scrollbar in hero section
  src/css/landing/_hero.css
  src/css/landing/_responsive.css
Due: prettier --write

fix(css): prevent scrollbars in FAB and landing animations
  src/css/fab.css
  src/css/landing/_animations.css
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{css,scss})) or (any of: *.{json,md})
