Repository vunf1/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

feat: improve SEO with canonical URL normalization and meta tag enhancements
  src/utils/seo.ts
Due: eslint --fix, prettier --write

chore: update sitemap.xml with current date
  public/sitemap.xml
Due: none

docs: add comprehensive CSS architecture documentation
  src/css/README.md
Due: prettier --write

fix: update SEO utility functions for improved documentation and parameter handling
  src/utils/seo.ts
Due: eslint --fix, prettier --write

docs: enhance README badges with workflow status and better organization
  README.md
Due: prettier --write

docs: improve workflow badges with shields.io styling
  README.md
Due: prettier --write

chore(deps): add Tailwind, EmailJS, CVA, clsx, darkreader, lucide-preact
  package-lock.json
  package.json
Due: prettier --write

build: add Tailwind config and EmailJS env types
  postcss.config.cjs
  src/vite-env.d.ts
  tailwind.config.js
Due: eslint --fix, prettier --write

refactor(i18n): replace i18next with TranslationContext
  public/data/en/experience.json
  public/data/en/meta.json
  public/data/en/skills.json
  public/data/en/ui.json
  public/data/pt-PT/experience.json
  public/data/pt-PT/skills.json
  public/data/pt-PT/ui.json
  src/components/About.tsx
  src/components/Awards.tsx
  src/components/Certifications.tsx
  src/components/ErrorBoundary.tsx
  src/components/Experience.tsx
  src/components/Hero.tsx
  src/components/Interests.tsx
  src/components/Navigation.tsx
  src/components/Projects.tsx
  src/components/Skills.tsx
  src/components/Testimonials.tsx
  src/components/__tests__/Hero.test.tsx
  src/components/__tests__/Navigation.test.tsx
  src/components/__tests__/ScrollbarBehavior.test.tsx
  src/components/landing/LandingAbout.tsx
  src/components/landing/LandingFeatures.tsx
  src/components/landing/LandingFooter.tsx
  src/components/landing/LandingHero.tsx
  src/components/landing/LandingPage.tsx
  src/components/ui/ConfirmationModal.tsx
  src/components/ui/__tests__/ConfirmationModal.test.tsx
  src/contexts/TranslationContext.tsx
  src/hooks/__tests__/useI18n.test.ts
  src/hooks/__tests__/usePortfolioData.test.ts
  src/hooks/useI18n.ts
  src/hooks/useModularPortfolioData.ts
  src/hooks/usePortfolioData.ts
  src/i18n.ts
  src/main.tsx
  src/test/setup.ts
  src/types/portfolio.ts
Due: eslint --fix, prettier --write

feat(contact): migrate contact form from n8n to EmailJS
  .env.example
  .github/workflows/ci.yml
  docs/EMAILJS_SETUP.md
  email-templates/README.md
  email-templates/contact-form.html
  public/emailjs-test.html
  src/components/ui/ContactModal.tsx
  src/components/ui/__tests__/ContactModal.test.tsx
  src/types/n8n.ts
  src/utils/__tests__/emailSender.test.ts
  src/utils/__tests__/envValidation.test.ts
  src/utils/emailSender.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

feat(ui): add Dark Reader toggle in FAB
  src/components/FloatingActionButton.tsx
  src/components/__tests__/FloatingActionButton.test.tsx
  src/hooks/__tests__/useDarkReader.test.ts
  src/hooks/useDarkReader.ts
Due: eslint --fix, prettier --write

feat(ui): add Icon, PageLoader, Toaster, SectionPlaceholder; remove Grid
  src/components/SectionPlaceholder.tsx
  src/components/ui/Grid.tsx
  src/components/ui/Icon.tsx
  src/components/ui/PageLoader.tsx
  src/components/ui/Toaster.tsx
  src/components/ui/__tests__/PageLoader.test.tsx
  src/components/ui/index.ts
Due: eslint --fix, prettier --write

style(ui): refine Badge, Button, Card, Section with CVA/clsx
  src/components/ui/Badge.tsx
  src/components/ui/Button.tsx
  src/components/ui/Card.tsx
  src/components/ui/Section.tsx
  src/types/components.ts
Due: eslint --fix, prettier --write

feat(app): add PageLoader and landing/portfolio transitions
  src/App.tsx
  src/css/loading.css
  src/css/page-transition.css
  src/index.css
Due: eslint --fix, prettier --write

style(landing): update landing section CSS
  src/css/landing/_about.css
  src/css/landing/_accessibility.css
  src/css/landing/_features.css
  src/css/landing/_footer.css
  src/css/landing/_hero.css
  src/css/landing/_layout.css
  src/css/landing/_responsive.css
  src/css/landing/_variables.css
Due: prettier --write

style: update base, nav, fab, skills, contact-modal, skeleton CSS
  src/css/base.css
  src/css/components/contact-modal-premium.css
  src/css/components/skeleton.css
  src/css/components/skills.css
  src/css/fab.css
  src/css/navigation.css
Due: prettier --write

docs: add CSS conflict analysis
  docs/CSS_CONFLICT_ANALYSIS.md
Due: prettier --write

chore: update index, README, tools; add obs-studio icon
  README.md
  index.html
  public/icons/obs-studio.svg
  src/utils/seo.ts
  tools/n8n-test/README.md
Due: eslint --fix, prettier --write

feat(config): add env, routes, pageTransitions, getDataUrl
  .env.example
  src/config/__tests__/routes.test.ts
  src/config/env.ts
  src/config/pageTransitions.ts
  src/config/routes.ts
  src/contexts/TranslationContext.tsx
  src/hooks/usePortfolioData.ts
  src/utils/getDataUrl.ts
  src/vite-env.d.ts
Due: eslint --fix, prettier --write

refactor(contact): use config module; add EmailJS logo URL
  src/utils/__tests__/emailSender.test.ts
  src/utils/emailSender.ts
  src/utils/n8nClient.ts
  tools/n8n-test/example-data.json
  tools/n8n-test/send-test-request.ps1
Due: eslint --fix, prettier --write

feat(routing): path-based SPA routes and NotFoundView
  package-lock.json
  package.json
  public/data/en/ui.json
  public/data/pt-PT/ui.json
  scripts/spa-fallback.cjs
  src/App.tsx
  src/components/FloatingActionButton.tsx
  src/components/NotFoundView.tsx
  src/components/landing/LandingFooter.tsx
  src/components/ui/Button.tsx
  src/components/ui/ContactModal.tsx
  src/components/ui/Icon.tsx
  src/components/ui/__tests__/ContactModal.test.tsx
  src/css/page-transition.css
  src/css/variables.css
  src/hooks/useRouteSync.ts
  src/main.tsx
  src/utils/browserHistory.ts
Due: eslint --fix, prettier --write

style(error-pages): simplify static 404/502/503/504
  404.html
  public/404.html
  public/502.html
  public/503.html
  public/504.html
Due: none

refactor: simplify SkillsProps, add Button form, remove unused
  src/components/Skills.tsx
  src/components/landing/LandingFeatures.tsx
  src/components/ui/Button.tsx
  src/types/components.ts
Due: eslint --fix, prettier --write

test: fix unused imports and type assertions
  src/components/__tests__/ScrollbarBehavior.test.tsx
  src/components/ui/__tests__/ContactModal.test.tsx
  src/config/__tests__/routes.test.ts
  src/utils/__tests__/emailSender.test.ts
Due: eslint --fix, prettier --write

fix(build): allow src/lib in gitignore; add locale, toast-store, utils
  .gitignore
  src/lib/__tests__/locale.test.ts
  src/lib/locale.ts
  src/lib/toast-store.ts
  src/lib/utils.ts
Due: eslint --fix, prettier --write

refactor(ui): use ToastItem type in Toaster
  src/components/ui/Toaster.tsx
Due: eslint --fix, prettier --write

chore(build): run test, type-check, lint before build
  package.json
Due: prettier --write

style: enforce curly braces; Skills typeof; lint fixes
  src/App.tsx
  src/components/NotFoundView.tsx
  src/components/Skills.tsx
  src/components/ui/__tests__/ContactModal.test.tsx
  src/config/__tests__/routes.test.ts
  src/config/routes.ts
  src/hooks/useDarkReader.ts
  src/hooks/useRouteSync.ts
  src/lib/locale.ts
  src/lib/toast-store.ts
  src/main.tsx
  src/utils/__tests__/envValidation.test.ts
  src/utils/browserHistory.ts
  src/utils/emailSender.ts
Due: eslint --fix, prettier --write

chore(assets): favicon in public, multi-size links, headers
  favicon.ico
  index.html
  public/_headers
  public/favicon.ico
  src/img/universe.png
Due: none

feat(build): tsconfig types; getDataUrl publicAssetUrl
  src/utils/__tests__/getDataUrl.test.ts
  src/utils/getDataUrl.ts
  tsconfig.json
Due: eslint --fix, prettier --write

refactor(types): Project embedInModal/security; Card composition
  src/types/components.ts
  src/types/portfolio.ts
Due: eslint --fix, prettier --write

feat(lib): useDebugId and scrollToPortfolioSection
  src/lib/__tests__/useDebugId.test.tsx
  src/lib/scrollToPortfolioSection.ts
  src/lib/useDebugId.ts
Due: eslint --fix, prettier --write

feat(ui): Sheet, Separator, Card composition, Badge outline
  src/components/ui/Badge.tsx
  src/components/ui/Button.tsx
  src/components/ui/Card.tsx
  src/components/ui/ConfirmationModal.tsx
  src/components/ui/ContactModal.tsx
  src/components/ui/Icon.tsx
  src/components/ui/PageLoader.tsx
  src/components/ui/Section.tsx
  src/components/ui/Separator.tsx
  src/components/ui/Sheet.tsx
  src/components/ui/Toaster.tsx
  src/components/ui/__tests__/Card.test.tsx
  src/components/ui/index.ts
Due: eslint --fix, prettier --write

feat(projects): ProjectCaseStudyModal and integration
  src/App.tsx
  src/components/ProjectCaseStudyModal.tsx
  src/components/Projects.tsx
Due: eslint --fix, prettier --write

refactor(navigation): back button, scrollToPortfolioSection; Experience
  src/components/Experience.tsx
  src/components/Navigation.tsx
  src/components/__tests__/Navigation.test.tsx
Due: eslint --fix, prettier --write

refactor(landing): LandingAbout, Footer, Hero, Page
  src/components/landing/LandingAbout.tsx
  src/components/landing/LandingFooter.tsx
  src/components/landing/LandingHero.tsx
  src/components/landing/LandingPage.tsx
Due: eslint --fix, prettier --write

style: navigation strip, responsive and section CSS rework
  src/css/README.md
  src/css/components/experience.css
  src/css/components/projects.css
  src/css/landing/_about.css
  src/css/landing/_accessibility.css
  src/css/landing/_hero.css
  src/css/landing/_layout.css
  src/css/landing/_responsive.css
  src/css/navigation.css
  src/css/page-transition.css
  src/css/responsive.css
  src/index.css
Due: prettier --write

content: projects and ui JSON (en, pt-PT)
  public/data/en/projects.json
  public/data/en/ui.json
  public/data/pt-PT/projects.json
  public/data/pt-PT/ui.json
Due: prettier --write

chore: TranslationContext and CSS conflict docs
  docs/CSS_CONFLICT_ANALYSIS.md
  src/contexts/TranslationContext.tsx
Due: eslint --fix, prettier --write

build(vite): use portfolio:1234 dev server and test setup
  package-lock.json
  package.json
  src/test/setup.ts
  vite.config.ts
Due: eslint --fix, prettier --write
