Repository vunf1/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

Refactor components to use TranslationContext and enhance portfolio data structure
  .github/workflows/components.yml
  public/data/portfolio-en.json
  public/data/portfolio-pt-PT.json
  src/components/About.tsx
  src/components/Awards.tsx
  src/components/Certifications.tsx
  src/components/Contact.tsx
  src/components/Education.tsx
  src/components/Experience.tsx
  src/components/Interests.tsx
  src/components/Navigation.tsx
  src/components/Projects.tsx
  src/components/SectionSkeleton.tsx
  src/components/Skills.tsx
  src/contexts/TranslationContext.tsx
  src/css/premium.css
  src/data/portfolio-en.json
  src/data/portfolio-pt-PT.json
  src/types/portfolio.ts
Due: eslint --fix, prettier --write

Implement contact unlock system with rate limiting and enhanced UX
  public/data/portfolio-en.json
  public/data/portfolio-pt-PT.json
  src/App.tsx
  src/components/Awards.tsx
  src/components/Certifications.tsx
  src/components/Contact.tsx
  src/components/ContactModal.tsx
  src/components/Education.tsx
  src/components/Experience.tsx
  src/components/Interests.tsx
  src/components/Navigation.tsx
  src/components/Projects.tsx
  src/components/Skills.tsx
  src/components/Testimonials.tsx
  src/components/ui/Section.tsx
  src/contexts/TranslationContext.tsx
  src/css/premium.css
  src/data/portfolio-en.json
  src/data/portfolio-pt-PT.json
  src/hooks/useContactUnlock.ts
  src/index.css
  src/types/components.ts
  src/utils/unlockPersistence.ts
Due: eslint --fix, prettier --write

Remove unused image assets and add confirmation modal component
  public/img/background.jpeg
  public/img/optimized/background-lg.avif
  public/img/optimized/background-lg.jpeg
  public/img/optimized/background-lg.webp
  public/img/optimized/background-md.avif
  public/img/optimized/background-md.jpeg
  public/img/optimized/background-md.webp
  public/img/optimized/background-sm.avif
  public/img/optimized/background-sm.jpeg
  public/img/optimized/background-sm.webp
  public/img/optimized/background-xl.avif
  public/img/optimized/background-xl.jpeg
  public/img/optimized/background-xl.webp
  public/img/optimized/background-xs.avif
  public/img/optimized/background-xs.jpeg
  public/img/optimized/background-xs.webp
  public/img/optimized/profile-lg.avif
  public/img/optimized/profile-lg.jpeg
  public/img/optimized/profile-lg.webp
  public/img/optimized/profile-md.avif
  public/img/optimized/profile-md.jpeg
  public/img/optimized/profile-md.webp
  public/img/optimized/profile-sm.avif
  public/img/optimized/profile-sm.jpeg
  public/img/optimized/profile-sm.webp
  public/img/optimized/profile-xs.avif
  public/img/optimized/profile-xs.jpeg
  public/img/optimized/profile-xs.webp
  src/App.tsx
  src/components/Contact.tsx
  src/components/Hero.tsx
  src/components/__tests__/Contact.test.tsx
  src/components/__tests__/Hero.test.tsx
  src/components/ui/ConfirmationModal.tsx
  src/components/ui/__tests__/ConfirmationModal.test.tsx
  src/components/ui/index.ts
  src/css/premium.css
  src/img/background.jpeg
  src/types/components.ts
Due: eslint --fix, prettier --write

Add floating action button with language switcher and cleanup docs
  .github/workflows/components.yml
  CI-CD.md
  GITHUB_ACTIONS_UPDATE.md
  package.json
  public/data/portfolio-en.json
  public/data/portfolio-pt-PT.json
  src/App.tsx
  src/components/FloatingActionButton.tsx
  src/components/SectionSkeleton.tsx
  src/components/__tests__/FloatingActionButton.test.tsx
  src/css/fab.css
  src/data/portfolio-en.json
  src/data/portfolio-pt-PT.json
  src/index.css
  src/main.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

Enhance contact functionality and remove scroll indicator
  src/components/Contact.tsx
  src/components/Hero.tsx
  src/components/Navigation.tsx
  src/components/__tests__/Hero.test.tsx
  src/components/__tests__/Navigation.test.tsx
  src/css/premium.css
  src/types/components.ts
  test-mailto.js
Due: eslint --fix, prettier --write

Refactor portfolio data structure to modular JSON files with i18n support
  public/data/en/awards.json
  public/data/en/certifications.json
  public/data/en/contact.json
  public/data/en/education.json
  public/data/en/experience.json
  public/data/en/interests.json
  public/data/en/meta.json
  public/data/en/personal.json
  public/data/en/projects.json
  public/data/en/skills.json
  public/data/en/social.json
  public/data/en/testimonials.json
  public/data/en/ui.json
  public/data/portfolio-en2.json
  public/data/portfolio-pt-PT2.json
  public/data/pt-PT/awards.json
  public/data/pt-PT/certifications.json
  public/data/pt-PT/contact.json
  public/data/pt-PT/education.json
  public/data/pt-PT/experience.json
  public/data/pt-PT/interests.json
  public/data/pt-PT/meta.json
  public/data/pt-PT/personal.json
  public/data/pt-PT/projects.json
  public/data/pt-PT/skills.json
  public/data/pt-PT/social.json
  public/data/pt-PT/testimonials.json
  public/data/pt-PT/ui.json
  public/img/full-logo.png
  public/img/logo.png
  src/components/SectionSkeleton.tsx
  src/hooks/__tests__/useI18n.test.ts
  src/hooks/__tests__/usePortfolioData.test.ts
  src/hooks/useI18n.ts
  src/hooks/useModularPortfolioData.ts
  src/types/portfolio.ts
Due: eslint --fix, prettier --write

Add CI/CD pipeline and update project configuration
  .github/workflows/ci.yml
  .gitignore
  README.md
  env.production
Due: prettier --write

Remove debug console logs and clean up unused code
  src/App.tsx
  src/components/Contact.tsx
  src/components/ContactPrivacyGate.tsx
  src/components/ContactUnlockForm.tsx
  src/components/Education.tsx
  src/components/FloatingActionButton.tsx
  src/components/__tests__/Contact.test.tsx
  src/components/__tests__/Hero.test.tsx
  src/components/ui/ConfirmationModal.tsx
  src/components/ui/__tests__/ConfirmationModal.test.tsx
  src/contexts/TranslationContext.tsx
  src/hooks/__tests__/useI18n.test.ts
  src/hooks/__tests__/usePortfolioData.test.ts
  src/hooks/__tests__/useTheme.test.ts
  src/hooks/useContactPrivacyGate.ts
  src/hooks/useI18n.ts
  src/hooks/useModularPortfolioData.ts
  src/hooks/usePortfolioData.ts
  src/hooks/useTheme.ts
  src/i18n.ts
  src/main.tsx
  src/test/setup.ts
  src/types/components.ts
  src/utils/unlockPersistence.ts
Due: eslint --fix, prettier --write

Consolidate GitHub Actions workflows and remove redundant files
  .github/workflows/ci.yml
  .github/workflows/components.yml
  .github/workflows/deploy-gh-pages.yml
  .github/workflows/deploy.yml
  .github/workflows/quality.yml
  .github/workflows/security.yml
Due: none

Fix CI workflow file encoding issues
  .github/workflows/ci.yml
Due: none

update link for WCA22
  README.md
Due: prettier --write

Comment out workflow path exclusion in CI trigger
  .github/workflows/ci.yml
Due: none

Fix CI/CD workflow: remove paths-ignore for workflow files and lower coverage thresholds
  vitest.config.ts
Due: eslint --fix, prettier --write

Fix GitHub Pages SPA routing: add .nojekyll file and update 404.html to handle assets properly
  public/.nojekyll
  public/404.html
  scripts/copy-data.cjs
Due: none

Fix .nojekyll file handling: add to repository and update copy-data script to create if missing
  scripts/copy-data.cjs
  src/components/SectionSkeleton.tsx
Due: eslint --fix, prettier --write

Fix GitHub Pages base URL and disable source maps in production to prevent MIME type errors
  public/404.html
  vite.config.ts
Due: eslint --fix, prettier --write

Fix MIME type issue: remove HTML plugin and hardcoded src/main.tsx reference, let Vite handle build process natively
  index.html
  vite.config.ts
Due: eslint --fix, prettier --write

Fix source file loading issue: ensure Vite properly transforms src/main.tsx to compiled JS in production
  index.html
  vite.config.ts
Due: eslint --fix, prettier --write

Add content to .nojekyll file to ensure it's not empty and properly tracked
  public/.nojekyll
Due: none

Fix .nojekyll file creation: create directly in dist instead of copying from public to avoid CI issues
  scripts/copy-data.cjs
Due: none

Fix dist directory creation: ensure dist folder exists before writing .nojekyll file
  scripts/copy-data.cjs
Due: none

Fix JSON data file paths: use relative paths to work with GitHub Pages base URL
  src/contexts/TranslationContext.tsx
  src/hooks/useI18n.ts
  src/hooks/useModularPortfolioData.ts
  src/hooks/usePortfolioData.ts
  src/i18n.ts
Due: eslint --fix, prettier --write

Fix TypeScript loading issue: remove HTML plugin and let Vite handle script transformation natively
  index.html
  vite.config.ts
Due: eslint --fix, prettier --write

Fix i18n test file paths to use relative URLs
  src/hooks/__tests__/useI18n.test.ts
Due: eslint --fix, prettier --write

Fix logo 404 error: update absolute image paths to relative paths for GitHub Pages compatibility
  src/components/Navigation.tsx
  src/components/__tests__/Contact.test.tsx
  src/components/__tests__/Hero.test.tsx
  src/test/setup.ts
Due: eslint --fix, prettier --write

feat: add custom error pages with security-themed messaging
  public/502.html
  public/503.html
  public/504.html
Due: none

feat: redesign 404 page with security-themed messaging and modern UX
  public/404.html
Due: none

feat: update personal data with AI/Generative AI specialization focus
  public/data/en/personal.json
  public/data/pt-PT/personal.json
Due: prettier --write

refactor: simplify FloatingActionButton from draggable to static design
  src/components/FloatingActionButton.tsx
  src/css/fab.css
Due: eslint --fix, prettier --write

fix: update contact form phone number placeholder and validation
  src/components/ContactUnlockForm.tsx
  src/hooks/useContactPrivacyGate.ts
Due: eslint --fix, prettier --write

build: update deployment configuration and build scripts
  scripts/copy-data.cjs
  vite.config.ts
Due: eslint --fix, prettier --write

style: improve mobile responsiveness and grid layouts
  src/components/SectionSkeleton.tsx
  src/css/premium.css
Due: eslint --fix, prettier --write

feat: remove contact section and privacy gate functionality
  src/App.tsx
  src/components/Contact.tsx
  src/components/ContactPrivacyGate.tsx
  src/components/ContactUnlockForm.tsx
  src/hooks/useContactPrivacyGate.ts
  src/utils/unlockPersistence.ts
Due: eslint --fix, prettier --write

feat: remove contact-related data files and personal contact information
  public/data/en/contact.json
  public/data/en/personal.json
  public/data/en/ui.json
  public/data/pt-PT/contact.json
  public/data/pt-PT/personal.json
  public/data/pt-PT/ui.json
Due: prettier --write

style: clean up CSS and remove contact-specific styles
  src/css/components.css
  src/css/contact.css
Due: prettier --write

test: update tests and types after contact functionality removal
  src/components/__tests__/Contact.test.tsx
  src/hooks/__tests__/useContactPrivacyGate.test.ts
  src/hooks/__tests__/useI18n.test.ts
  src/hooks/__tests__/usePortfolioData.test.ts
  src/hooks/useModularPortfolioData.ts
  src/hooks/usePortfolioData.ts
  src/test/setup.ts
  src/types/components.ts
  src/types/hooks.ts
  src/types/portfolio.ts
Due: eslint --fix, prettier --write

docs: update sitemap and offline page after contact removal
  public/offline.html
  public/sitemap.xml
  src/components/__tests__/Navigation.test.tsx
Due: eslint --fix, prettier --write
