Repository vunf1/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

chore(scripts): add portfolio data manage CLI
  manage.ps1
  scripts/manage.mjs
Due: none

docs(site): refresh EmailJS setup and meta copy
  .env.example
  README.md
  docs/EMAILJS_SETUP.md
  email-templates/README.md
  email-templates/contact-form.html
  index.html
  src/utils/emailSender.ts
  tools/n8n-test/README.md
Due: eslint --fix, prettier --write

feat(ui): landing refresh, scroll lock, and case study modal
  src/App.tsx
  src/components/Navigation.tsx
  src/components/ProjectCaseStudyModal.tsx
  src/components/Projects.tsx
  src/components/Testimonials.tsx
  src/components/__tests__/Navigation.test.tsx
  src/components/__tests__/ProjectCaseStudyModal.test.tsx
  src/components/__tests__/ScrollbarBehavior.test.tsx
  src/components/landing/AboutDescriptionSpoiler.tsx
  src/components/landing/LandingAbout.tsx
  src/components/landing/LandingFeatures.tsx
  src/components/landing/LandingFooter.tsx
  src/components/landing/LandingPage.tsx
  src/components/landing/__tests__/AboutDescriptionSpoiler.test.tsx
  src/components/ui/Card.tsx
  src/components/ui/ContactModal.tsx
  src/components/ui/Icon.tsx
  src/components/ui/Section.tsx
  src/components/ui/Sheet.tsx
  src/components/ui/__tests__/ContactModal.test.tsx
  src/config/__tests__/routes.test.ts
  src/css/base.css
  src/css/components/experience.css
  src/css/landing/_about.css
  src/css/landing/_animations.css
  src/css/landing/_features.css
  src/css/landing/_footer.css
  src/css/landing/_hero.css
  src/css/landing/_layout.css
  src/css/landing/_responsive.css
  src/css/page-transition.css
  src/hooks/useMediaQuery.ts
  src/lib/__tests__/scrollLock.test.ts
  src/lib/scrollLock.ts
  src/lib/scrollToPortfolioSection.ts
  src/utils/__tests__/uiLandingAboutKeys.test.ts
Due: eslint --fix, prettier --write

chore(git): ignore .ai directory
  .gitignore
Due: none

chore(release): bump version to 3.2.0
  package-lock.json
  package.json
  public/data/en/meta.json
  public/data/pt-PT/meta.json
  src/hooks/__tests__/usePortfolioData.test.ts
Due: eslint --fix, prettier --write

docs(readme): sync structure and v3.2.0 changelog
  README.md
Due: prettier --write

chore(git): commit public/img static assets
  .gitignore
Due: none

feat(assets): add favicons, profile, and project icons
  public/img/apple-touch-icon.png
  public/img/favicon-16x16.png
  public/img/favicon-32x32.png
  public/img/favicon-57x57.png
  public/img/favicon-60x60.png
  public/img/favicon-70x70.png
  public/img/favicon-72x72.png
  public/img/favicon-76x76.png
  public/img/favicon-96x96.png
  public/img/og-image.jpg
  public/img/profile.jpg
  public/img/projects/apitofinal_logo.png
  public/img/projects/apitofinal_logo2.png
  public/img/projects/auto-close-pids-pyside6.svg
  public/img/projects/contecnica-logo.png
  public/img/projects/ecommerce-vendure-next.svg
  public/img/projects/effigy-fiscal-rates-addon.svg
  public/img/projects/image-database-manager-pyqt.svg
  public/img/projects/incident-response-scripts-toolkit.svg
  public/img/projects/license-desktop-python-mongodb.svg
  public/img/projects/licensehub-php-preact.svg
  public/img/projects/lol-catalog-nexus-tauri.svg
  public/img/projects/metin2-python-native-tools.svg
  public/img/projects/msl-work-infoplus-cli.svg
  public/img/projects/msl-work-infoplus-gui.svg
  public/img/projects/msl-work-report.svg
  public/img/projects/msl-work-system-tray.svg
  public/img/projects/msl-work-touchscreen.svg
  public/img/projects/n8n-docker-self-host.svg
  public/img/projects/nirvanamed-wordpress-operations.svg
  public/img/projects/php-version-manager-tauri.svg
  public/img/projects/rust-license-platform-axum.svg
  public/img/projects/site-backup-packaging.svg
  public/img/projects/stream-cs2-overlay-platform.svg
  public/img/projects/stream-futebol-scoreboard.svg
  public/img/projects/taiga-podman-rootless-compose.svg
  public/img/projects/wisdom_logo.png
  src/img/apitofinal_logo.png
  src/img/contecnica-logo.png
  src/img/wisdom_logo.png
Due: none

fix(ui): restore scroll position when unlocking modals
  src/components/ui/Sheet.tsx
  src/lib/__tests__/scrollLock.test.ts
  src/lib/scrollLock.ts
Due: eslint --fix, prettier --write

feat(ui): add root boundary and portfolio error fallback
  src/components/ErrorBoundary.tsx
  src/components/PortfolioErrorFallback.tsx
  src/components/__tests__/ErrorBoundary.test.tsx
  src/components/__tests__/PortfolioErrorFallback.test.tsx
  src/css/components/error-fallback.css
  src/main.tsx
Due: eslint --fix, prettier --write

feat(projects): area visibility, logos, and case study modal
  scripts/generate-project-icons.mjs
  src/App.tsx
  src/components/ProjectCaseStudyModal.tsx
  src/components/Projects.tsx
  src/components/__tests__/FloatingActionButton.test.tsx
  src/components/__tests__/ProjectCaseStudyModal.test.tsx
  src/components/landing/LandingPage.tsx
  src/components/landing/__tests__/AboutDescriptionSpoiler.test.tsx
  src/components/ui/Icon.tsx
  src/css/base.css
  src/css/components/contact-modal-premium.css
  src/css/components/projects.css
  src/css/fab.css
  src/css/landing/_layout.css
  src/hooks/__tests__/usePortfolioData.test.ts
  src/hooks/usePortfolioData.ts
  src/index.css
  src/lib/__tests__/projectInitials.test.ts
  src/lib/__tests__/projectPlaceholderImage.test.ts
  src/lib/__tests__/projectsArea.test.ts
  src/lib/projectInitials.ts
  src/lib/projectPlaceholderImage.ts
  src/lib/projectsArea.ts
  src/types/components.ts
  src/types/hooks.ts
  src/types/portfolio.ts
  src/utils/__tests__/getDataUrl.test.ts
  src/utils/getDataUrl.ts
Due: eslint --fix, prettier --write

docs(readme): document v3.3.0 and projects-area behavior
  README.md
Due: prettier --write

chore(git): track Cursor rules and ignore local agent clutter
  .gitignore
Due: none

build(tooling): upgrade Vite 6 and add project validation scripts
  package-lock.json
  package.json
  scripts/copy-data.cjs
  vite.config.ts
Due: eslint --fix, prettier --write

feat(projects): add registry gates and drop blocked case studies
  public/data/en/projects/manifest.json
  public/data/en/projects/nirvanamed-wordpress-operations.json
  public/data/projects-area.json
  public/data/projects-registry.json
  public/data/pt-PT/projects/manifest.json
  public/data/pt-PT/projects/nirvanamed-wordpress-operations.json
  scripts/validate-projects-registry.mjs
Due: prettier --write

feat(assets): add brand marks, locale flags, and project logos
  public/img/brand/logo silver.png
  public/img/brand/logo white.png
  public/img/brand/logo_landscape.png
  public/img/brand/logo_landscape_circle.png
  public/img/brand/logo_landscape_circle2.png
  public/img/brand/logo_landscape_noicons.png
  public/img/brand/logo_landscape_nologo.png
  public/img/flags/portugal.svg
  public/img/flags/united-kingdom.svg
  public/img/projects/apitofinal_logo2.png
  public/img/projects/php-version-manager-tauri.png
  public/img/projects/wisdom_logo.png
  scripts/generate-project-icons.mjs
  src/img/wisdom_logo.png
Due: none

feat(brand): centralize logo path for email, SEO, and OG
  .env.example
  scripts/generate-og-image.cjs
  src/config/brand.ts
  src/utils/emailSender.ts
  src/utils/seo.ts
Due: eslint --fix, prettier --write

docs(release): record v3.4.0 changelog and sync version fields
  README.md
  public/data/en/meta.json
  public/data/pt-PT/meta.json
  src/hooks/__tests__/usePortfolioData.test.ts
Due: eslint --fix, prettier --write
