Repository vunf1/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

feat: create modern landing page with Apple/Samsung/Xiaomi-inspired design
  src/App.tsx
  src/components/landing/LandingAbout.tsx
  src/components/landing/LandingFeatures.tsx
  src/components/landing/LandingFooter.tsx
  src/components/landing/LandingHero.tsx
  src/components/landing/LandingPage.tsx
  src/css/landing.css
  src/index.css
Due: eslint --fix, prettier --write

refactor: reorganize build scripts and update configuration
  .gitignore
  package.json
  scripts/optimize-images.js
  scripts/verify-dist.js
Due: prettier --write

refactor: reorganize assets and documentation
  docs/certificates/AI_Engineer_Outskill.pdf
  docs/certificates/AI_Generalist_Outskill.pdf
  src/img/full-logo.png
  src/img/logo.png
  src/img/profile copy.jpg
  src/img/profile.jpg
  src/img/universe.png
Due: none

feat: enhance landing page UI with video background and premium styling
  src/App.tsx
  src/components/Experience.tsx
  src/components/Navigation.tsx
  src/components/landing/LandingAbout.tsx
  src/components/landing/LandingFeatures.tsx
  src/components/landing/LandingFooter.tsx
  src/components/landing/LandingHero.tsx
  src/components/landing/LandingPage.tsx
  src/components/landing/VideoBackground.tsx
  src/css/landing.css
  src/css/premium.css
  src/index.css
Due: eslint --fix, prettier --write

refactor: remove useTheme hook and theme system
  src/App.tsx
  src/hooks/__tests__/useTheme.test.ts
  src/hooks/useTheme.ts
  src/types/hooks.ts
Due: eslint --fix, prettier --write

chore: update test scripts to use explicit 'run' command
  package.json
Due: prettier --write

refactor: simplify FloatingActionButton component and update tests
  src/components/FloatingActionButton.tsx
  src/components/__tests__/FloatingActionButton.test.tsx
Due: eslint --fix, prettier --write

refactor: streamline CSS architecture and remove redundant styles
  src/css/components.css
  src/css/fab.css
  src/css/landing.css
  src/css/premium.css
  src/css/tokens.css
  src/index.css
Due: prettier --write

Update i18n content (EN/PT-PT)
  public/data/en/personal.json
  public/data/en/ui.json
  public/data/pt-PT/personal.json
  public/data/pt-PT/ui.json
Due: prettier --write

Update landing page components
  src/components/landing/LandingAbout.tsx
  src/components/landing/LandingFeatures.tsx
  src/components/landing/LandingFooter.tsx
  src/components/landing/LandingHero.tsx
Due: eslint --fix, prettier --write

Enhance landing page styles
  src/css/landing.css
Due: prettier --write

Update image assets
  public/img/logo.png
  src/img/full-logo.png
  src/img/logo.png
  src/img/profile.jpg
Due: none

Add TypeScript environment definitions
  src/vite-env.d.ts
Due: eslint --fix, prettier --write

Remove Hero component from App
  src/App.tsx
Due: eslint --fix, prettier --write

Simplify Hero component for better performance
  src/components/Hero.tsx
Due: eslint --fix, prettier --write

Optimize hero section performance and enhance premium styling
  src/css/premium.css
Due: prettier --write

Improve mobile responsiveness for hero section
  src/css/landing.css
Due: prettier --write

Remove hero-logo-wrapper border and redesign hero-highlights with premium styling
  src/css/landing.css
Due: prettier --write

Remove hero highlights section from landing page
  src/components/landing/LandingHero.tsx
Due: eslint --fix, prettier --write

Fix FAB visibility issues on mobile devices
  src/css/fab.css
Due: prettier --write

Improve mobile UX and clean up highlight styles
  src/css/landing.css
Due: prettier --write

Add scroll offset fixes for sections to prevent navbar overlap
  src/css/premium.css
Due: prettier --write

Convert Experience component to carousel with touch/swipe support
  src/components/Experience.tsx
  src/css/premium.css
Due: eslint --fix, prettier --write

Add id prop to Experience component in App
  src/App.tsx
Due: eslint --fix, prettier --write

Refactor CSS architecture: split premium.css into modular files
  public/sw.js
  src/css/base.css
  src/css/components/about.css
  src/css/components/awards.css
  src/css/components/contact-modal.css
  src/css/components/contact.css
  src/css/components/experience.css
  src/css/components/hero.css
  src/css/components/interests.css
  src/css/components/projects.css
  src/css/components/skeleton.css
  src/css/components/skills.css
  src/css/components/testimonials.css
  src/css/grid.css
  src/css/modal.css
  src/css/navigation.css
  src/css/performance.css
  src/css/premium.css
  src/css/responsive.css
  src/css/variables.css
  src/index.css
Due: prettier --write

Fix double scrollbar issues across the application
  index.html
  src/css/landing.css
Due: prettier --write

Update FAB to use flag-icons library instead of emoji flags
  src/components/FloatingActionButton.tsx
  src/css/fab.css
Due: eslint --fix, prettier --write

Update README.md to reflect new modular CSS structure
  README.md
Due: prettier --write

Update LandingHero button text and icon
  src/components/landing/LandingHero.tsx
Due: eslint --fix, prettier --write

Improve FAB language button styling with larger flags and transparent background
  src/css/fab.css
Due: prettier --write

perf: optimize build configuration and add portfolio chunk preloading
  src/utils/preloadPortfolioChunks.ts
  vite.config.ts
Due: eslint --fix, prettier --write

refactor: improve portfolio data hook with better caching and section management
  src/hooks/__tests__/usePortfolioData.test.ts
  src/hooks/usePortfolioData.ts
Due: eslint --fix, prettier --write

data: update social links with portfolio reference
  public/data/en/social.json
  public/data/pt-PT/social.json
Due: prettier --write

feat: enhance experience carousel with drag support and improved styling
  src/components/Experience.tsx
  src/css/components/experience.css
Due: eslint --fix, prettier --write

style: refactor navigation with enhanced brand and social link styling
  src/css/navigation.css
Due: prettier --write

feat: improve landing page with portfolio warming and scrollbar fixes
  index.html
  src/components/landing/LandingAbout.tsx
  src/components/landing/LandingFeatures.tsx
  src/components/landing/LandingPage.tsx
Due: eslint --fix, prettier --write

refactor: update portfolio components with improved structure
  src/components/About.tsx
  src/components/Hero.tsx
  src/components/Skills.tsx
Due: eslint --fix, prettier --write

feat: integrate portfolio preloading and improve section tracking
  src/App.tsx
  src/components/__tests__/FloatingActionButton.test.tsx
  src/css/base.css
Due: eslint --fix, prettier --write

feat: add n8n webhook client with authentication support
  src/types/n8n.ts
  src/utils/n8nClient.ts
  src/utils/validation.ts
Due: eslint --fix, prettier --write

feat: add contact modal component with form validation
  src/components/ui/ContactModal.tsx
  src/css/components/contact-modal-premium.css
Due: eslint --fix, prettier --write
