Repository vunf1/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

refactor(html): remove inline scrollbar fix styles
  index.html
Due: none

refactor(modal): use CSS class for body scroll lock
  src/components/ui/ContactModal.tsx
  src/css/components/contact-modal-premium.css
Due: eslint --fix, prettier --write

refactor(components): centralize contact modal state in LandingPage
  src/components/FloatingActionButton.tsx
  src/components/landing/LandingHero.tsx
  src/components/landing/LandingPage.tsx
Due: eslint --fix, prettier --write

test: add scrollbar behavior tests and update existing tests
  src/components/__tests__/Hero.test.tsx
  src/components/__tests__/ScrollbarBehavior.test.tsx
  src/components/ui/__tests__/ContactModal.test.tsx
Due: eslint --fix, prettier --write

refactor(ui): update button text in LandingAbout
  src/components/landing/LandingAbout.tsx
Due: eslint --fix, prettier --write

docs: remove obsolete documentation files
  docs/N8N_WEBHOOK_HEADER_AUTH.md
  docs/OG_IMAGE_REQUIREMENT.md
Due: prettier --write

docs: update README with comprehensive project documentation
  README.md
Due: prettier --write

refactor: replace console logging with production-ready conditional logging
  src/components/ErrorBoundary.tsx
  src/components/ui/ContactModal.tsx
  src/contexts/TranslationContext.tsx
  src/hooks/useI18n.ts
  src/hooks/useModularPortfolioData.ts
  src/hooks/usePortfolioData.ts
  src/i18n.ts
  src/main.tsx
  src/utils/n8nClient.ts
Due: eslint --fix, prettier --write

feat: improve error handling and user experience in App component
  src/App.tsx
Due: eslint --fix, prettier --write

refactor: remove debug code and add brand customization TODOs
  src/components/landing/LandingFooter.tsx
  src/components/landing/LandingHero.tsx
Due: eslint --fix, prettier --write

docs: update README to reflect new features and structure
  README.md
Due: prettier --write

chore: enhance Vite configuration for base path handling
  .github/workflows/ci.yml
  vite.config.ts
Due: eslint --fix, prettier --write

fix: correct script path in index.html and add debug logging in vite.config.ts
  index.html
  vite.config.ts
Due: eslint --fix, prettier --write

chore: enhance Vite configuration and CI workflow for base path verification
  .github/workflows/ci.yml
  vite.config.ts
Due: eslint --fix, prettier --write

chore: enhance CI workflow with additional verification steps and improved logging
  .github/workflows/ci.yml
Due: none

chore: add .nojekyll file creation step in CI workflow
  .github/workflows/ci.yml
Due: none

docs: update README for GitHub Pages deployment and configuration
  README.md
Due: prettier --write

docs: update README with troubleshooting steps for GitHub Pages deployment
  README.md
Due: prettier --write

chore: enhance CI workflow with artifact management and verification steps
  .github/workflows/ci.yml
  src/components/__tests__/ScrollbarBehavior.test.tsx
Due: eslint --fix, prettier --write

chore: improve CI workflow with enhanced artifact cleanup and verification
  .github/workflows/ci.yml
Due: none

docs: update README with enhanced troubleshooting steps for GitHub Pages deployment
  README.md
Due: prettier --write

chore: update CI and quality workflows for improved deployment and error handling
  .github/workflows/ci.yml
  .github/workflows/quality.yml
  .github/workflows/security.yml
Due: none

fix: update scroll handler timeout type and improve test container usage
  src/App.tsx
  src/components/__tests__/ScrollbarBehavior.test.tsx
  src/hooks/usePortfolioData.ts
Due: eslint --fix, prettier --write

refactor: clean up console warnings and improve code readability
  src/components/ui/ContactModal.tsx
  src/hooks/useModularPortfolioData.ts
  src/hooks/usePortfolioData.ts
  src/i18n.ts
  src/test/setup.ts
  src/utils/__tests__/n8nClient.test.ts
  src/utils/n8nClient.ts
Due: eslint --fix, prettier --write

chore: disable eslint no-explicit-any rule in test files for improved flexibility
  src/components/__tests__/ScrollbarBehavior.test.tsx
  src/components/ui/__tests__/ContactModal.test.tsx
  src/test/setup.ts
  src/utils/__tests__/n8nClient.integration.test.ts
  src/utils/__tests__/n8nClient.test.ts
Due: eslint --fix, prettier --write

feat: enhance vitest configuration and improve ContactModal tests
  src/components/ui/__tests__/ContactModal.test.tsx
  src/test/setup.ts
  src/utils/__tests__/n8nClient.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

refactor: improve ScrollbarBehavior tests and enhance ContactModal validation
  src/components/__tests__/ScrollbarBehavior.test.tsx
  src/components/ui/__tests__/ContactModal.test.tsx
  src/utils/__tests__/n8nClient.integration.test.ts
Due: eslint --fix, prettier --write

refactor: streamline ScrollbarBehavior tests by removing unnecessary body reference
  src/components/__tests__/ScrollbarBehavior.test.tsx
Due: eslint --fix, prettier --write

refactor: simplify error handling in N8nClient integration tests
  src/utils/__tests__/n8nClient.integration.test.ts
Due: eslint --fix, prettier --write

fix: handle missing personal data in LandingPage component
  src/components/landing/LandingPage.tsx
Due: eslint --fix, prettier --write

fix: improve SEO initialization and update handling in App component
  src/App.tsx
Due: eslint --fix, prettier --write

fix: enhance error logging and handle missing personal data in landing components
  src/components/ErrorBoundary.tsx
  src/components/landing/LandingAbout.tsx
  src/components/landing/LandingFeatures.tsx
  src/components/landing/LandingFooter.tsx
  src/components/landing/LandingHero.tsx
  src/components/landing/LandingPage.tsx
  src/main.tsx
Due: eslint --fix, prettier --write

fix: update security audit command in CI workflow
  .github/workflows/ci.yml
Due: none

fix: enhance artifact cleanup process in CI workflow
  .github/workflows/ci.yml
Due: none

fix: add verification for development script in CI workflow
  .github/workflows/ci.yml
Due: none

fix: improve SEO handling and error logging in App and SEO utility functions
  src/App.tsx
  src/utils/seo.ts
Due: eslint --fix, prettier --write

fix: enhance portfolio data validation and error logging in usePortfolioData hook
  src/hooks/usePortfolioData.ts
  vite.config.ts
Due: eslint --fix, prettier --write

fix: update CI workflow for pages deployment and enhance error handling in n8nClient
  .github/workflows/ci.yml
  src/utils/n8nClient.ts
Due: eslint --fix, prettier --write

refactor: update branding from Portfolio to Professional Website
  README.md
  index.html
  public/data/en/meta.json
  public/data/pt-PT/meta.json
Due: prettier --write

feat: add URL parameter language switching support
  src/contexts/TranslationContext.tsx
  src/main.tsx
Due: eslint --fix, prettier --write
